---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

table, th, td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
	tr:nth-child(even) {background-color: #f2f2f2;}
}

sup {
  vertical-align: super;
  font-size: smaller;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// NEW CODE styling code box
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic&subset=latin);

html, body {
        padding:1em;
        margin:auto;
        max-width:42em;
        background:#fefefe;
	}
body {
	font: 1.3em "Vollkorn", Palatino, Times;
	color: #333;
	line-height: 1.4;
	text-align: justify;
	}
header, nav, article, footer {
	width: 700px;
	margin:0 auto;
	}
article {
	margin-top: 4em;
	margin-bottom: 4em;
	min-height: 400px;
	}
footer {
	margin-bottom:50px;
	}
video {
	margin: 2em 0;
	border:1px solid #ddd;
	}

nav {
	font-size: .9em;
	font-style: italic;
	border-bottom: 1px solid #ddd;
	padding: 1em 0;
	}
nav p {
	margin: 0;
	}

/* Typography
-------------------------------------------------------- */

h1 {
	margin-top: 0;
	font-weight: normal;
	}
h2 {
	font-weight: normal;
	}
h3 {
	font-weight: normal;
	font-style: italic;
	margin-top:3em;
	}
p {
	margin-top:0;
	-webkit-hypens:auto;
	-moz-hypens:auto;
	hyphens:auto;
	}
ul {
	list-style: square;
	padding-left:1.2em;
	}
ol {
	padding-left:1.2em;
	}
blockquote {
	margin-left: 1em;
	padding-left: 1em;
	border-left: 1px solid #ddd;
	}
code {
	font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
	font-size: .9em;
	background: white;
	}
a {
	color: #2484c1;
	text-decoration: none;
	}
a:hover {
	text-decoration: underline;
	}
a img {
	border:none;
	}
h1 a, h1 a:hover {
	color: #333;
	text-decoration: none;
	}
hr {
	color : #ddd;
	height : 1px;
	margin: 2em 0;
	border-top : solid 1px #ddd;
	border-bottom : none;
	border-left: 0;
	border-right: 0;
	}
p#heart{
	font-size: 2em;
	line-height: 1;
	text-align: center;
	color: #ccc;
	}
.red {
	color:#B50000;
	}

/* Home Page
--------------------------- */

body#index li {
	margin-bottom: 1em;
	}


/* iPad
-------------------------------------------------------- */
@media only screen and (max-device-width: 1024px) {
body {
	font-size: 120%;
	line-height: 1.4;
	}
} /* @iPad */

/* iPhone
-------------------------------------------------------- */
@media only screen and (max-device-width: 480px) {
body {
	text-align: left;
	}
article, footer {
	width: auto;
	}
article {
	padding: 0 10px;
	}
} /* @iPhone */


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
