---
layout: default
title: Kebijakan Industri
---
<p> Selamat datang di laman Ino!! Laman ini berisi segala macam postingan tentang kebijakan industri dan tentang Kementerian Perindustrian. Keinginan saya sih laman ini akan berisi tidak hanya tulisan dan pemikiran saya, tapi juga teman-teman yang kepingin menyumbangkan pemikirannya mengenai kebijakan industri di Indonesia, atau tentang Kementerian Perindustrian. Banyak lho yang bisa diomongin tentang kebijakan industri, misalnya infrastruktur penyokong, input, ekspor impor, da total factor productivity, <i>among others!</i>. Yukkkkk bantuin saya bikin laman ini lebih ramai!! </p> 
<div class="posts">
  {% for post in site.categories.ino %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} </a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More... (written {{ post.date | date_to_string}})</a>
    </article>
  {% endfor %}
</div>
<!--
	<h1>{{ page.title }}</h1>
<p> &#9761; This site is under construction. Please be patient &#9761; <p>
	<img src="{{ site.baseurl }}/images/404.jpg" alt="Constructocat by https://github.com/jasoncostello" style="width: 400px;"/>

<h3> &#9761; Under Construction &#9761;</h3>
<ul class="posts">

	  {% for post in site.tags.Kemenperin %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>

<h3> &#9761; Under Construction &#9761; </h3>

	<ul class="posts">

	  {% for post in site.tags.Depok %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>
-->
